@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;400;700&family=Noto+Sans+KR:wght@100;400;700;900&family=Poppins:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: "Noto Sans KR", Helvetica, "맑은 고딕", "malgun gothic",
    "Apple SD Gothic Neo", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.6px;
  color: #444;
}

h2 {
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

h3,
h4 {
  font-weight: 600;
}

strong {
  font-weight: 700;
}

::-webkit-scrollbar {
  width: 0;
}

/* 공통요소 */
.clearfix::after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}

.inner {
  position: relative;
  display: block;
  max-width: 1400px;
  margin: 0 auto;
}

.wrap {
  position: relative;
  display: block;
}

#result {
  background-color: black;
}

/* header */
.header {
  position: relative;
  display: block;
  background-color: rgb(81, 89, 102);
  padding: 20px 0;
}

h1.logo {
  position: relative;
  display: block;
  float: left;
  width: 240px;
  height: 120px;
  line-height: 120px;
  background: url("../images/L-G.png") no-repeat center;
  background-size: 100% 100%;
}

.gnb {
  position: relative;
  display: block;
  width: 800px;
  float: right;
}

.gnb .menu {
  position: relative;
  display: flex;
  justify-content: space-around;

  padding: 24px 0;
  letter-spacing: 40px;
}

.gnb .menu li {
  position: relative;
  display: block;
  font-size: 32px;
  text-align: center;
  line-height: 32px;
  padding: 18px 10px;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 15px;
  letter-spacing: 2px;
  transition: all 0.5s;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

/* visual */
.visual {
  position: relative;
  display: block;
  padding: 200px 0 250px 0;
  background-color: rgb(81, 89, 102);
}

.visual-left {
  position: relative;
  display: block;
  float: left;
  font-size: 40px;
  line-height: 65px;
}

.visual-right {
  position: relative;
  display: block;
  float: right;
  border-radius: 20px;
  background-color: rgb(106, 115, 130);
  width: 40%;
  padding: 40px;
  text-align: right;
}

.visual-right h2 {
  position: relative;
  display: block;
  font-size: 32px;
}

.visual-right span {
  position: relative;
  display: block;
  font-size: 24px;
  padding-left: 20px;
  background-color: #fff;
  border-radius: 8px;
  white-space: nowrap;
  margin-top: 15px;
  padding: 10px;
}

/* AboutMe */
.aboutMe {
  position: relative;
  display: block;
  padding: 50px 0 0 0;
  background-color: rgb(255, 255, 255);
}

.aboutMe-top {
  position: relative;
  display: block;
}

.aboutMe-top h2 {
  position: relative;
  display: block;
  width: 20%;
  float: left;
  font-size: 60px;
  text-align: right;
  line-height: 72px;
}

.aboutMe-top h2::before {
  content: "";
  position: absolute;
  display: block;
  bottom: -20px;
  right: 0;
  width: 40%;
  height: 6px;
  background-color: #98a4b4;
}

.aboutMe .mystory {
  width: 75%;
  position: relative;
  display: block;
  float: left;
  margin-left: 5%;
}

.mystory span {
  position: relative;
  display: block;
  font-size: 24px;
  line-height: 32px;
}

.mystory p {
  position: relative;
  display: block;
  font-size: 20px;
  margin-top: 40px;
  line-height: 32px;
}

.aboutMe-bottom {
  position: relative;
  display: block;
}

.aboutMe-bottom > div {
  position: relative;
  display: block;
  float: left;
  width: 400px;
  margin-left: 100px;
  padding-top: 50px;
}

.aboutMe-bottom > div:first-child {
  margin-left: 0;
}

.aboutMe-bottom > div h4 {
  position: relative;
  display: block;
  font-size: 28px;
  line-height: 28px;
  margin-bottom: 24px;
  padding: 12px 0;
  text-align: center;
  text-transform: uppercase;
}

.aboutMe-bottom > div h4::before {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #98a4b4;
  width: 60%;
  height: 4px;
}

.aboutMe-bottom > div > p {
  position: relative;
  display: block;
  font-size: 20px;
  line-height: 20px;
}

.aboutMe-bottom > div > span {
  position: relative;
  display: block;
  font-size: 20px;
  line-height: 20px;
}

.edu-history {
  position: relative;
  display: block;
  text-align: left;
  font-size: 0;
}

.edu-history ul {
}

.edu-history ul li {
  margin-bottom: 8px;
}

.edu-history ul li > span {
  position: relative;
  display: inline-block;
  letter-spacing: 4px;
  width: 30%;
  text-align: right;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 2px;
}

.edu-history ul li > p {
  position: relative;
  display: inline-block;
  width: 70%;
  font-size: 20px;
  padding-left: 20px;
}

.profile-desc {
  position: relative;
  display: block;
  margin-top: 40px;
  font-size: 0;
}

.profile-desc ul {
}
.profile-desc ul li {
  margin-bottom: 10px;
}

.profile-desc ul li > span {
  position: relative;
  display: inline-block;
  letter-spacing: 4px;
  width: 30%;
  text-align: right;
  font-size: 20px;
  letter-spacing: 0;
}

.profile-desc ul li > p {
  position: relative;
  display: inline-block;
  width: 70%;
  font-size: 20px;
  padding-left: 20px;
}

.mbti-desc .MBTI {
  position: relative;
  display: block;
  width: 380px;
  height: 380px;
  background: url("../images/PTG.png") no-repeat center;
  background-size: contain;

  margin: 0 auto;
}

.mbti-desc .MBTI::before {
  content: "";
  position: absolute;
  display: block;
  top: 167px;
  left: 170px;
  width: 40px;
  height: 40px;
  background: url("../images/frame.png") no-repeat center;
  background-size: contain;
  transition: all 0.5s;
}

.MBTI:hover::before {
  top: 16px;
  left: 30px;
  width: 320px;
  height: 320px;
}

.mbti-desc h4::before {
  left: 50%;
  transform: translateX(-50%);
}

.my-roadmap {
  position: relative;
  display: block;
  float: left;
  width: 400px;
  padding: 0;
  margin-left: 100px;
}

.my-roadmap h3 {
  position: relative;
  display: block;
  font-size: 40px;
  text-align: right;
  line-height: 48px;
  white-space: nowrap;
}

.my-roadmap h3::before {
  content: "";
  position: absolute;
  display: block;
  bottom: -20px;
  right: 0;
  width: 40%;
  height: 4px;
  background-color: #98a4b4;
}

.my-roadmap .map-review {
  position: relative;
  display: block;
  padding-top: 20px;
  height: 400px;
  font-size: 0;
}
.map-review-top {
  position: relative;
  display: block;
  height: 300px;
}

.map-review-top span {
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  width: 60px;
  height: 80px;
  background: url("../images/Group\ 8.png") no-repeat center;
  background-size: contain;
}

.map-review-bottom {
  position: relative;
  display: block;
  height: 100px;
}
.map-review-bottom button {
  position: relative;
  display: block;
  float: left;
  width: 25%;
  font-size: 20px;
  line-height: 50px;
  border-top: 1px solid #98a4b4;
  border-bottom: 1px solid #98a4b4;
  border-left: 0;
  border-right: 0;
  cursor: pointer;
}

.map-review-bottom button:first-child {
  border-left: 1px solid #98a4b4;
  border-radius: 8px 0 0 8px;
}

/* skills */
.skills {
  position: relative;
  display: block;
  background-color: #98a4b4;
  padding: 100px;
  padding-bottom: 50px;
  text-align: center;
}

.skills h2 {
  position: relative;
  display: inline-block;
  font-size: 60px;
  padding: 8px 0;
  margin-bottom: 60px;
  color: rgb(78, 88, 98);
}

.skills h2::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  height: 8px;
  background-color: #98a4b4;
}

.skill-list {
  position: relative;
  display: block;
  width: 100%;
  font-size: 0;
}

.skill-list > li {
  position: relative;
  display: inline-block;
  margin-right: 12%;
  width: 16%;
  margin-bottom: 120px;
}

.skill-list > li:nth-child(4n) {
  margin-right: 0;
}

.skill-list > li > a {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  padding-top: 70px;
  font-size: 20px;
  text-align: center;
  border-radius: 50%;
  transition: all 1s;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.45);
  z-index: 99;
  text-transform: uppercase;
}

.skill-list > li > a::before {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 70%;
  border-radius: 50%;
  box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.3);
  z-index: 99;
}

.skill-list > li > a::after {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 105%;
  height: 105%;
  border-radius: 50%;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  z-index: 9;
}

.skilldesc {
  position: absolute;
  display: block;
  float: left;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px 10px 10px 15px;
  border-radius: 10px;
  white-space: nowrap;
  color: rgb(233, 233, 233);
  border: 5px solid rgba(0, 0, 0, 0.2);
  z-index: 9999;
  text-align: left;
}

.skilldesc-active {
  position: fixed;
  visibility: visible;
}

.skill-list > li > a > ul > li {
  display: block;
  font-size: 12px;
  line-height: 18px;
  padding-left: 15px;
  color: #fff;
}

.progressbar-text {
  padding-top: 20px !important;
  font-size: 40px;
  z-index: 9;
  cursor: not-allowed;
}

/* portfolio */
.portfolio {
  position: relative;
  display: block;
  height: 640px;
  margin-top: 120px;
}

.portfolio .inner {
  height: 640px;
  width: 100%;
}

.port-left {
  position: relative;
  display: block;
  float: left;
  width: 1080px;
  height: 100%;
}

.portlist-sw {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.portlist-sw .swiper-slide {
  position: relative;
  display: block;
  width: 100%;
  height: 625px;
  margin-top: 25px;
}

.portlist-sw .swiper-slide::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 60%;
  height: 21px;
  background-color: rgb(200, 228, 227);
  border-radius: 0 0 6px 6px;
  z-index: 99;
}

.portlist-sw .swiper-slide > span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 20px);
  height: calc(100% - 20px);
}

.portlist-sw .swiper-slide > span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: calc(100% + 70px);
  height: calc(100% + 70px);
  background-color: #98a4b4;
  border-radius: 20px;
  z-index: 9;
}

.portlist-sw .swiper-slide > span::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: calc(100% + 40px);
  height: calc(100% + 40px);
  background-color: rgb(200, 228, 227);
  border-radius: 15px;
  z-index: 10;
}

.portlist-sw .swiper-slide > a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 3;
  border-radius: 10px;
}

/* 
.portlist-sw .swiper-slide.swiper-slide-active {
  height: 100%;
}
.portlist-sw .swiper-slide.swiper-slide-active:before {
  content: "";
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 60%;
  height: 20px;
  background-color: rgb(200, 228, 227);
  border-radius: 0 0 6px 6px;
  z-index: 9;
}
.portlist-sw .swiper-slide.swiper-slide-active > span {
  height: 100%;
  margin-top: 0;
}

.portlist-sw .swiper-slide.swiper-slide.swiper-slide-active > span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: calc(100% + 70px);
  height: calc(100% + 40px);
  background-color: #98a4b4;
  border-radius: 20px;
  z-index: 9;
}

.portlist-sw .swiper-slide.swiper-slide.swiper-slide-active > span::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: calc(100% + 40px);
  height: calc(100% + 10px);
  background-color: rgb(200, 228, 227);
  border-radius: 3%;
  z-index: 10;
}

.portlist-sw .swiper-slide.swiper-slide.swiper-slide-active > a {
  border-radius: 10px 10px 0 0;
} */

.portlist-sw .swiper-slide > a.miniport01 {
  background: url("../images/draft/alpha-d.png") no-repeat center;
  background-size: 100% 100%;
}

.portlist-sw .swiper-slide > a.miniport02 {
  background: url("../images/draft/gjyouth-d.png") no-repeat center;
  background-size: 100% 100%;
}

.portlist-sw .swiper-slide > a.miniport03 {
  background: url("../images/draft/jyg-d.png") no-repeat center;
  background-size: 100% 100%;
}

.portlist-sw .swiper-slide > a.miniport04 {
  background: url("../images/draft/kwater-d.png") no-repeat center;
  background-size: 100% 100%;
}

.portlist-sw .swiper-slide > a.miniport05 {
  background: url("../images/draft/masi-d.png") no-repeat center;
  background-size: 100% 100%;
}

.portlist-sw .swiper-slide > a.miniport06 {
  background: url("../images/draft/nhis-d.png") no-repeat center;
  background-size: 100% 100%;
}

.portlist-sw .swiper-slide > a.miniport07 {
  background: url("../images/draft/noelo-d.png") no-repeat center;
  background-size: 100% 100%;
}

.portlist-sw .swiper-slide > a.miniport08 {
  background: url("../images/draft/stx-d.png") no-repeat center;
  background-size: 100% 100%;
}

.portfolio .inner h2 {
  position: relative;
  display: block;
  float: left;
  width: 320px;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: -4px;
}

.portfolio .inner h2::before {
  content: "";
  position: absolute;
  display: block;
  bottom: -8px;
  right: 0;
  width: 40%;
  height: 6px;
  background-color: #98a4b4;
}

.port-right {
  position: relative;
  display: block;
  float: left;
  width: 320px;
  height: 570px;
  padding: 10px 0;
}

.portsummary {
  position: relative;
  display: block;
  text-align: right;
  overflow-x: hidden;
}

.st-title-sw {
  position: relative;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  display: block;
  width: 300%;
  height: 550px;
}

.st-title-sw::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(100% / 3);
  width: 60px;
  height: 100%;
  background-color: #fff;
  z-index: 9;
}

.st-title-sw .swiper-slide {
  font-size: 32px;
  line-height: 32px;
}

.portsummary .st-title-sw .swiper-slide span {
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 16px;
  color: #505050;
  font-weight: 300;
  padding-top: 8px;
}

.portsummary .st-title-sw .swiper-slide h3 {
  position: relative;
  display: block;
  font-size: 32px;
  line-height: 32px;
  font-weight: 700;
  color: #000;
  padding-top: 8px;
}

.portsummary .st-title-sw .swiper-slide p {
  position: relative;
  display: block;
  font-size: 20px;
  line-height: 20px;
  padding-top: 10px;
}

.portsummary .st-title-sw .swiper-slide .overview {
  position: relative;
  display: block;
  width: 100%;
  height: 80px;
}

.showcase {
  position: absolute;
  bottom: 0;
  left: 60px;
  font-size: 0;
  display: flex;
  justify-content: space-around;
  width: 260px;
  height: 60px;
}

.showcase > button {
  position: relative;
  display: inline-block;
  border: 0;
  width: 68px;
  height: 60px;
  border-radius: 4px;
  border: 2px solid rgb(81, 89, 102);
  cursor: pointer;
}

.showcase > button > span {
  position: absolute;
  top: 4px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  display: block;
}

.showcase > button.showBt01 > span {
  background: url("../images/mywork.png") no-repeat center;
  background-size: contain;
}

.showcase > button.showBt02 > span {
  background: url("../images/git.png") no-repeat center center;
  background-size: contain;
}

.showcase > button.showBt03 > span {
  background: url("../images/original.png") no-repeat center center;
  background-size: contain;
}

.showcase > button > a {
  position: absolute;
  bottom: 4px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  font-size: 12px;
  line-height: 12px;
}

.showcase > button:hover {
  background-color: rgba(51, 51, 51, 0.4);
}

/* life */
.life {
  position: relative;
  display: block;
  padding: 40px 0;
  background-color: #98a4b4;
}

.life-sw {
  position: relative;
  display: block;
  height: 800px;
  padding: 100px 0;
  width: 100%;
}

.life-sw .swiper-slide {
  position: relative;
  display: block;
  height: 600px;
  background-color: #fff;
  padding: 50px 25px;
  z-index: 9;
}

.life-sw .swiper-slide h4 {
  position: relative;
  display: block;
  font-size: 55px;
  text-align: center;
}

.life-sw .swiper-slide.swiper-slide-active h4 {
}

.life-sw .swiper-slide p {
  position: relative;
  display: block;
  font-size: 24px;
  margin-top: 60px;
  text-align: center;
}

.life-sw .swiper-slide a {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 60%;
  height: 60px;
  background-color: rgb(71, 122, 169);
  margin-top: 20px;
  text-align: center;
  font-size: 40px;
  line-height: 60px;
}

.life button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  display: block;
  width: 50px;
  height: 50px;
  background-color: rgb(80, 88, 101);
  border-radius: 10px;
  cursor: pointer;
  z-index: 9;
  color: rgb(218, 219, 221);
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
}

.life-sw-prev {
  left: -100px;
}

.life-sw-next {
  right: -100px;
}

/* contact */
.contact {
  position: relative;
  display: block;
  padding: 50px 0;
}

.contact .inner {
  position: relative;
  display: block;
}

.contact .inner h2 {
  position: relative;
  display: block;
  font-size: 48px;
  line-height: 48px;
  margin-bottom: 60px;
}
.contact-left {
  position: relative;
  display: block;
  float: left;
  width: 40%;
  padding: 20px 0;
}
.contact-right {
  position: relative;
  display: block;
  float: left;
  width: 60%;
}

.contact-right p {
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 16px;
  font-weight: 300;
  margin-bottom: 12px;
}

.contact-right span {
  position: relative;
  display: block;
  font-size: 24px;
  line-height: 24px;
  background-color: rgba(187, 187, 187, 0.3);
  padding: 8px 0;
  margin-bottom: 16px;
}
.contact-right span::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 24px;
  padding: 8px 4px;
  background: rgba(90, 148, 249, 0.3) url("../images/here.png") no-repeat center;
  background-size: contain;
  display: block;
}

span.mail:hover a {
  color: blue;
}

/* footer */
.footer {
  position: relative;
  display: block;
  background-color: rgb(81, 89, 101);
  padding: 50px 0;
}

.footer p {
  position: relative;
  display: block;
  text-align: center;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
}

.footer span {
  position: relative;
  display: block;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  color: #fff;
}

/* gotop 기능*/
.gotop {
  position: fixed;
  display: block;
  bottom: 30px;
  right: 30px;
  width: 30px;
  height: 30px;
  border: 1px solid #333;
  border-radius: 3px;
  background: url("../images/gotop.png") no-repeat center;
  background-size: contain;
  cursor: pointer;
}
