@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Noto Sans KR', Helvetica, '맑은 고딕', 'malgun gothic', 'Apple SD Gothic Neo', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.64px;
  color: #444;
}

::-webkit-scrollbar {
  width: 0;
}

/* 공통요소 */
.clearfix::after {
  content: '';
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}

.inner {
  position: relative;
  display: block;
  max-width: 1400px;
  margin: 0 auto;
}

.wrap {
  position: relative;
  display: block;
}

#result {
  background-color: black;
}



/* header */
.header {
  position: relative;
  display: block;
  background-color: rgb(81, 89, 101);
  padding: 20px 0;
}

h1.logo {
  position: relative;
  display: block;
  font-size: 60px;
  float: left;
  line-height: 120px;

}

.gnb {
  position: relative;
  display: block;
  width: 800px;
  float: right;
}

.gnb .menu {
  position: relative;
  display: flex;
  justify-content: space-around;

  padding: 24px 0;
  letter-spacing: 40px;
}

.gnb .menu li {
  position: relative;
  display: block;
  font-size: 32px;
  text-align: center;
  line-height: 32px;
  padding: 18px 10px;
  border: 2px solid #fff;
  border-radius: 15px;
  letter-spacing: 2px;
  transition: all 0.5s;
  cursor: pointer;
}

.gnb .menu li:hover {
  letter-spacing: 4px;
}


.gnb .menu li>span {
  position: absolute;
  top: -6px;
  left: 10px;
  display: block;
  width: 20px;
  height: 10px;
  border: 2px solid rgb(240, 251, 255);
  background-color: rgb(115, 115, 131);
  transition: all 0.5s;
}

.gnb .menu li:hover>span {
  left: calc(100% - 40px);
  width: 30px;
}


.gnb .menu li>p {
  position: absolute;
  top: 64px;
  right: 10px;
  display: block;
  width: 20px;
  height: 10px;
  border: 2px solid rgb(240, 251, 255);
  background-color: rgb(115, 115, 131);
  transition: all 0.5s;
}

.gnb .menu li:hover>p {
  right: calc(100% - 40px);
  width: 30px;
}




/* visual */
.visual {
  position: relative;
  display: block;
  padding: 300px 0;
  background-color: rgb(81, 89, 101);
}

.visual-left {
  position: relative;
  display: block;
  float: left;
  font-size: 40px;
  line-height: 65px;
}

.visual-right {
  position: relative;
  display: block;
  float: right;
  border-radius: 20px;
  background-color: rgb(106, 115, 130);
  width: 40%;
  padding: 40px;
  text-align: right;
}

.visual-right h2 {
  position: relative;
  display: block;
  font-size: 32px;
}

.visual-right span {
  position: relative;
  display: block;
  font-size: 24px;
  padding-left: 20px;
  background-color: #fff;
  border-radius: 8px;
  white-space: nowrap;
  margin-top: 15px;
  padding: 10px;
}


/* AboutMe */
.aboutMe {
  position: relative;
  display: block;
  padding: 50px 0;
}

.aboutMe h3 {
  position: relative;
  display: block;
  width: 30%;
  float: left;
  font-size: 64px;
}

.aboutMe .mystory {
  width: 70%; 
  position: relative;
  display: block;
  float: left;
}

.mystory span {
  position: relative;
  display: block;
  font-size: 24px;
}

.mystory p {
  position: relative;
  display: block;
  font-size: 20px;
}

/* skills */
.skills {
  position: relative;
  display: block;
  background-color: #fff;
  padding: 150px;
}

.skills h2 {
  position: relative;
  display: block;
  font-size: 40px;
  text-align: center;
  color: rgb(78, 88, 98);
}

.skill-list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(7, minmax(180px, 1fr));
  grid-template-rows: 1fr 1fr;
  gap: 40px 10px;
  justify-content: space-between;
  margin-top: 60px;
}


.skill-list>li {
  position: relative;
  display: block;
}

.skill-list>li:nth-child(8) {
  grid-column: 1;
}

.skill-list>li:nth-child(9) {
  grid-column: 3;
}

.skill-list>li:nth-child(10) {
  grid-column: 5;
}

.skill-list>li:nth-child(11) {
  grid-column: 7;
}

.skill-list>li>a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  height: 100%;
  width: 100%;
  padding-top: 30%;
  font-size: 20px;
  line-height: 20px;
  border-radius: 50%;
  transition: all 1s;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.45);
}

.skill-list>li>a::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  height: calc(100% - 40px);
  width: calc(100% - 40px);
  border-radius: 50%;
  box-shadow: inset 2px 2px 4px 0px rgba(0, 0, 0, 0.45);
}

.skill-list>li>a>span {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  text-align: center;
}

.skill-list>li>a>ul.skilldesc {
  position: absolute;
  top: 50%;
  left: 105%;
  transform: translateY(-50%);
  display: none;
  color: #fff;
  background-color: #333;
  padding: 10px;
  border-radius: 10px;
  white-space: nowrap;
  border: 5px dashed #888;
  transition: all 1s;
  list-style: square;
}

ul.skilldesc>li {
  display: block;
  font-size: 12px;
  line-height: 18px;
}

.progressbar-text {
  top: 60% !important;
}

/* portfolio */
.portfolio {
  position: relative;
  display: block;
  padding: 100px 0 0 0;
}

.port-left {
  position: relative;
  display: block;
  float: left;
  width: 25%;
  padding: 40px 0;
}

.port-left>div {
  position: relative;
  display: block;
  height: 200px;
  margin-bottom: 30px;
}

.port-left>div:last-child {
  margin-bottom: 0;
}

.port-left>div span {
  position: relative;
  display: block;
}

.port-left>div span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 80px;
  height: 100px;
  background: url('../images/02.png') no-repeat center center;
  background-size: contain;
  filter: grayscale(1);
  border-radius: 50%;
  border: 4px solid #888;
}

.port-left>div p {
  position: relative;
  display: block;
  margin-top: 20px;
}

.port-center {
  position: relative;
  display: block;
  float: left;
  width: calc(30% + 100px);
  height: 740px;
  background-color: #000;
  border: 10px solid rgb(152, 164, 180);
  border-bottom: 0;
  border-radius: 60px 60px 0 0;
  margin-left: 50px;
}

.port-center::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 0px;
  transform: translateX(-50%);
  display: block;
  float: left;
  width: 50%;
  height: 40px;
  background-color: #000;
  border-bottom: 0;
  border-radius: 0 0 24px 24px;
  z-index: 4;
}

.port-site-view {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 20px);
  height: 720px;
  border-radius: 40px 40px 0 0;
  display: block;
  z-index: 3;
  overflow-x: hidden;
  overflow-y: auto;
}

.port-site-view .swiper-slide>img {
  position: relative;
  display: block;
  width: 100%;
  height: 960px;
}


.app-draw {
  position: absolute;
  top: 640px;
  display: block;
  width: 100%;
  height: 90px;
  background: rgba(0, 0, 0, 0.45);
  background-size: 100%;
  padding: 0 5%;
  z-index: 999;
  display: flex;
  font-size: 0;
  align-items: center;
  justify-content: space-between;
}

.app-buttons {
  position: relative;
  display: block;
  width: 15%;
  height: 75%;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
}

.ap-bt01 {
  background: url('../images/7422531_css3_css_file_development_icon.png') no-repeat center;
  background-size: contain;
  filter: invert(1);
  background-color: white;
}

.ap-bt02 {
  background: url('../images/7422496_javascript_coding_doce_developers_programming_icon.png') no-repeat center;
  background-size: contain;
  filter: invert(1);
  background-color: white;
}

.ap-bt03 {
  background: url('../images/9035136_logo_vue_icon.png') no-repeat center;
  background-size: 80%;
  filter: invert(1);
  background-color: white;
}

.ap-bt04 {
  background: url('../images/9041208_git_icon.png') no-repeat center;
  background-size: 80%;
  filter: invert(1);
  background-color: white;
}

.ap-bt01:hover {
  filter: none;
  background-color: rgb(42, 124, 217);
}

.ap-bt02:hover {
  filter: none;
  background-color: rgb(255, 247, 92);
}

.ap-bt03:hover {
  filter: none;
  background-color: rgb(80, 223, 58);
}

.ap-bt04:hover {
  filter: none;
  background-color: rgb(245, 140, 35);
}












.port-right {
  position: relative;
  display: block;
  float: left;
  width: 30%;
  height: 600px;
  margin-top: 80px;
  margin-left: 60px;
  border: 1px solid #555;
  border-radius: 20px;
}

.port-right h4 {
  position: relative;
  display: block;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  background-color: #999;
  padding: 20px 0;
  border-radius: 20px 20px 0 0;
}

.port-right .psview-control>button {
  position: absolute;
  top: 80px;
  display: block;
  border: 0;
  background-color: #000;
  width: 80px;
  height: 40px;
  cursor: pointer;
}

.psview-control>button.ps-view-prev {
  left: 0;
}

.psview-control>button.ps-view-next {
  right: 0;
}


.port-right p {
  border-top: 1px solid #555;
  padding-top: 40px;
  position: relative;
  display: block;
  font-size: 24px;
  text-align: center;
}

.port-right a {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 60%;
  height: 80px;
  background-color: rgb(71, 122, 169);
  margin-top: 60px;
}

/* life */
.life {
  position: relative;
  display: block;
  padding: 100px 0;
  background-color: rgb(152, 164, 180);
}


.life-sw {
  position: relative;
  display: block;
  height: 800px;
  padding: 100px 0;
  width: 100%;
}

.life-sw .swiper-slide {
  position: relative;
  display: block;
  height: 600px;
  background-color: #fff;
  padding: 50px 25px;
  z-index: 9;
  transition: all 3s;
}

.life-sw .swiper-slide.swiper-slide-active {
  height: 800px;
  transform: translateY(-100px);
  background-color: rgb(198, 222, 216);
}



.life-sw .swiper-slide h4 {
  position: relative;
  display: block;
  font-size: 55px;
  text-align: center;
}

.life-sw .swiper-slide.swiper-slide-active h4 {}

.life-sw .swiper-slide p {
  position: relative;
  display: block;
  font-size: 24px;
  margin-top: 60px;
  text-align: center;
}

.life-sw .swiper-slide.swiper-slide-active p {
  position: relative;
  display: block;
  font-size: 24px;
  margin-top: 80px;
  text-align: center;
}

.life-sw .swiper-slide a {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 60%;
  height: 60px;
  background-color: rgb(71, 122, 169);
  margin-top: 20px;
  text-align: center;
  font-size: 40px;
  line-height: 60px;
}


.life button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  display: block;
  width: 50px;
  height: 50px;
  background-color: rgb(80, 88, 101);
  border-radius: 10px;
  cursor: pointer;
  z-index: 9;
  color: rgb(218, 219, 221);
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
}

.life-sw-prev {
  left: -100px;
}

.life-sw-next {
  right: -100px;
}





/* contact */
.contact {
  position: relative;
  display: block;
}


/* footer */
.footer {
  position: relative;
  display: block;
  background-color: rgb(81, 89, 101);
  padding: 50px 0;
}

.footer p {
  position: relative;
  display: block;
  text-align: center;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
}

.footer span {
  position: relative;
  display: block;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  color: #fff;
}