@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;400;700&family=Noto+Sans+KR:wght@100;400;700;900&family=Poppins:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: "Noto Sans KR", Helvetica, "맑은 고딕", "malgun gothic",
    "Apple SD Gothic Neo", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.6px;
  color: #444;
}

h2 {
  font-weight: 700;
  text-transform: uppercase;
}

h3,
h4 {
  font-weight: 600;
  text-transform: uppercase;
}

strong {
  font-weight: 700;
}

::-webkit-scrollbar {
  width: 0;
}

/* 공통요소 */
.clearfix::after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}

.inner {
  position: relative;
  display: block;
  max-width: 1400px;
  margin: 0 auto;
}

.wrap {
  position: relative;
  display: block;
}

#result {
  background-color: black;
}

/* modal */
.modal-wrap {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 560px;
  height: 400px;
  background-color: white;
  border-radius: 20px;
  border: 4px solid #0c4da2;
}

.modal-notice {
  position: relative;
  display: block;
  padding: 20px 0;
}

.modal-notice p {
  position: relative;
  display: block;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  text-align: center;
}

.modal-notice span {
  position: relative;
  display: block;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 2px;
  font-weight: 400;
  color: rgb(137, 137, 137);
  text-align: center;
}

.modal-desc {
  position: relative;
  display: block;
  width: calc(100% - 40px);
  height: calc(100% - 220px);
  background-color: #d0dfef;
  border-radius: 16px;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-desc span {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  font-size: 20px;
  line-height: 32px;
  width: 100%;
  color: #d0dfef;
  text-align: center;
  background-color: #0c4da2;
}

.modal-desc::after {
  content: "";
  position: absolute;
  bottom: 15px;
  right: 20px;
  display: block;
  width: 40px;
  height: 40px;
  background: #fff url("../images/lgW.png") no-repeat center;
  background-size: 20px 20px;
  border-radius: 15px;
  border: 5px solid #0c4da2;
}

.modal-close {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: calc(60% - 40px);
  height: 50px;
  border-radius: 20px;
  font-size: 22px;
  line-height: 50px;
  background-color: #444;
  text-align: center;
  color: #fff;
}

/* header */
.header {
  position: relative;
  display: block;
  background-color: #c3e9ff;
  padding: 20px 0;
}

h1.logo {
  position: relative;
  display: block;
  float: left;
  width: 120px;
  height: 120px;
  background: url("../images/lgW.png") no-repeat center;
  background-size: 80px 80px;
}

.gnb {
  position: relative;
  display: block;
  width: 800px;
  float: right;
  padding: 20px 0;
}

.gnb .menu {
  position: relative;
  display: flex;
  justify-content: space-around;
  padding: 24px 0;
}

.gnb .menu li {
  position: relative;
  display: block;
  font-size: 24px;
  text-align: center;
  line-height: 32px;
  color: rgb(38, 32, 10);
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  z-index: 1;
}

.gnb .menu li::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 80%;
  height: 12px;
  background-color: rgba(12, 77, 162, 0.4);
  z-index: -1;
}

/* visual */
.visual {
  position: relative;
  display: block;
  padding: 150px 0 250px 0;
  background-color: #c3e9ff;
}

.visual-left {
  position: relative;
  display: block;
  float: left;
  border-radius: 20px;
  background-color: #6dcaff;
  width: 40%;
  padding: 40px;
  text-align: left;
}

.visual-left h2 {
  position: relative;
  display: block;
  font-size: 32px;
}

.visual-left span {
  position: relative;
  display: block;
  font-size: 24px;
  padding-left: 20px;
  background-color: #fff;
  border-radius: 8px;
  white-space: nowrap;
  margin-top: 15px;
  padding: 10px;
  letter-spacing: 3px;
}

.visual-right {
  position: relative;
  display: block;
  float: left;
  width: 60%;
  text-align: right;
}

.visual-right::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 640px;
  height: 640px;
  background: url("../images/profile.png") no-repeat center;
  background-size: contain;
}

.visual-talk {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding-right: 40px;
}

.visual-talk::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 725px;
  height: 240px;
  background: url("../images/talk.png") no-repeat right;
  background-size: contain;
}

.visual-right span.talk-start {
  position: relative;
  display: inline-block;
  font-size: 36px;
  line-height: 54px;
  font-weight: 700;
  padding-top: 21px;
}

.visual-right span.talk-on,
.visual-right span.talk-last,
.visual-right span.talk-end {
  position: relative;
  display: inline-block;
  font-size: 28px;
  line-height: 36px;
  padding-top: 9px;
}

.myname {
  position: relative;
  display: inline-block;
  font-size: 28px;
  line-height: 36px;
  padding-top: 9px;
  font-weight: 700;
}

.social {
  position: absolute;
  bottom: 50px;
  left: 0;
  display: block;
  width: 55%;
  height: 5px;
  background-color: white;
}

/* AboutMe */
.aboutMe {
  position: relative;
  display: block;
  padding: 100px 0;
  background-color: #fcfcfc;
}

.aboutMe-top {
  position: relative;
  display: block;
}

.aboutMe-top h2 {
  position: relative;
  display: inline-block;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 2px;
  z-index: 1;
}

.aboutMe-top h2::before {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 60%;
  height: 20px;
  background-color: rgba(171, 204, 249, 0.6);
  z-index: -1;
}

.aboutMe .mystory {
  position: relative;
  display: block;
  margin-top: 50px;
}

.mystory p {
  position: relative;
  display: block;
  font-size: 22px;
  line-height: 48px;
  letter-spacing: 2px;
  z-index: 2;
}

.mystory span {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  text-align: right;
  font-size: 180px;
  line-height: 100px;
  font-weight: 700;
  color: rgba(154, 187, 225, 0.3);
  z-index: 1;
}

.aboutMe-bottom {
  position: relative;
  display: block;
  padding-top: 120px;
}

.aboutMe-bottom .profile {
  position: relative;
  display: block;
}

.aboutMe-bottom .profile h3 {
  position: relative;
  display: block;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 4px;
  text-align: left;
  z-index: 1;
}

.aboutMe-bottom .profile h3::before {
  content: "";
  position: absolute;
  display: block;
  bottom: 0px;
  left: 0;
  width: 20%;
  height: 12px;
  background-color: rgba(171, 204, 249, 0.6);
  z-index: -1;
}

.profile .profile-left {
  position: relative;
  display: block;
  float: left;
  width: 40%;
  margin-top: 40px;
}

.profile .profile-left .myname {
  position: absolute;
  top: 60px;
  right: 60px;
  display: block;
  z-index: 10;
}

.profile .profile-left .myname>span {
  position: relative;
  display: block;
  font-size: 14px;
  line-height: 18px;
  color: #505050;
  font-weight: 300;
  letter-spacing: 3px;
}

.profile .profile-left .myname>p {
  position: relative;
  display: block;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 4px;
  padding: 4px 0 4px 20px;
}

.profile .profile-left>span.pic {
  position: relative;
  display: block;
  width: 360px;
  height: 480px;
  background: url("../images/body1.png") no-repeat center;
  background-size: contain;
}

.profile .profile-left>span.pic:hover {
  position: relative;
  display: block;
  width: 360px;
  height: 480px;
  background: url("../images/moving-new.gif") no-repeat center;
  background-size: cover;
}

.profile .profile-right {
  position: relative;
  display: block;
  float: left;
  width: 60%;
  padding: 100px 0 50px;
}

.profile .profile-right>div {
  position: relative;
  display: block;
  float: left;
}

.profile-right .education {
  padding-left: 60px;
}

.profile .profile-right>div ul {
  position: relative;
  display: block;
}

.profile .profile-right>div ul>span {
  position: relative;
  display: block;
  font-size: 14px;
  line-height: 18px;
  color: #505050;
  font-weight: 300;
  letter-spacing: 3px;
  padding-top: 10px;
}

.profile .profile-right>div ul li {
  position: relative;
  display: block;
  padding: 10px 20px;
}

.profile .profile-right>div ul li>span {
  position: relative;
  display: block;
  font-size: 14px;
  line-height: 18px;
  color: #505050;
  font-weight: 300;
  letter-spacing: 3px;
}

.profile .profile-right>div>ul>li>p {
  position: relative;
  display: block;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 1.5px;
  padding: 4px 0 4px 20px;
}

.profile .profile-right>div ul li>i {
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 24px;
  color: #505050;
  letter-spacing: 3px;
}

.profile .profile-right>div.education>ul>li>p {
  padding: 0;
}

.profile .profile-right>div.education>ul>li>span {
  line-height: 28px;
}

.aboutMe-bottom .psbNrm {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-top: 50px;
}

.aboutMe-bottom .posibility {
  position: relative;
  display: block;
  float: left;
  width: 40%;
}

.posibility .psb-top h3 {
  position: relative;
  display: block;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 4px;
  text-align: left;
  z-index: 1;
}

.posibility .psb-top h3::before {
  content: "";
  position: absolute;
  display: block;
  bottom: 0px;
  left: 0;
  width: 50%;
  height: 12px;
  background-color: rgba(171, 204, 249, 0.6);
  z-index: -1;
}

.psb-top>p {
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  font-weight: 300;
  color: #505050;
  margin-top: 16px;
  letter-spacing: 2px;
}

.posibility .psb-desc {
  position: relative;
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  border-top: 1px solid rgb(187, 187, 187);
  border-bottom: 1px solid rgb(187, 187, 187);
}

.posibility>.psb-desc p {
  position: relative;
  display: block;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 4px;
}

.posibility>.psb-desc p strong {
  position: relative;
  color: #034ea2;
  z-index: 1;
}

.posibility>.psb-desc p strong::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 6px;
  background-color: rgba(107, 158, 218, 0.6);
  z-index: -1;
}

.posibility .psb-box {
  position: relative;
  display: block;
}

.posibility .psb-box .psb-graph {
  position: relative;
  display: block;
  width: 400px;
  height: 400px;
  background: url("../images/psb-bg.png") no-repeat center;
  background-size: contain;
  margin: 0 auto;
  margin-top: 16px;
}

.posibility .psb-box .psb-graph .psb-graphS {
  content: "";
  position: absolute;
  display: block;
  top: 185px;
  left: 186px;
  width: 30px;
  height: 30px;
  background: url("../images/psb-sm.png") no-repeat center;
  background-size: contain;
  transition: all 0.5s ease;
}

.posibility .psb-box .psb-graph:hover .psb-graphS {
  top: 53px;
  left: 54px;
  width: 300px;
  height: 300px;
  background: url("../images/psb-b.png") no-repeat center;
  background-size: contain;
}

.psb-graph span {
  position: absolute;
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}

.psb-graph span.part01 {
  top: 65px;
  right: 0;
}

.psb-graph span.part02 {
  bottom: 80px;
  right: 0;
}

.psb-graph span.part03 {
  top: 80px;
  left: 0;
}

.psb-graph span.part04 {
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.psb-graph span.part05 {
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.psb-graph span.part06 {
  bottom: 80px;
  left: 0;
}

.posibility h4::before {
  left: 50%;
  transform: translateX(-50%);
}

.aboutMe-bottom .my-roadmap {
  position: relative;
  display: block;
  float: left;
  width: 60%;
  padding-left: 120px;
  padding-right: 60px;
}

.my-roadmap h3 {
  position: relative;
  display: inline-block;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 4px;
  white-space: nowrap;
  z-index: 1;
}

.my-roadmap h3::before {
  content: "";
  position: absolute;
  display: block;
  bottom: 0px;
  left: 0;
  width: 50%;
  height: 16px;
  background-color: rgba(171, 204, 249, 0.6);
  z-index: -1;
}

.my-roadmap>p {
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #505050;
  margin-top: 16px;

  letter-spacing: 2px;
}

.my-roadmap .map-review {
  position: relative;
  display: block;
  width: 90%;
  margin-top: 15px;
  font-size: 0;
  border-top: 1px solid rgb(187, 187, 187);
  border-bottom: 1px solid rgb(187, 187, 187);
  padding: 45px 0 50px 0;
}

.my-roadmap .map-review ul.mr-content {
  position: relative;
  display: block;
  float: left;
}

.mr-content li {
  position: relative;
  display: none;
}

.mr-content li h4 {
  position: relative;
  display: block;
  font-size: 20px;
  line-height: 28px;
  padding-top: 4px;
}

.mr-content li p {
  position: relative;
  display: block;
  font-size: 22px;
  line-height: 36px;
  letter-spacing: 4px;
}

.mr-content li p i {
  position: relative;
  display: block;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 4px;
  text-decoration: underline;
  text-underline-position: under;
  margin: 12px 0;
}

.mr-content li span {
  position: relative;
  display: block;
  font-size: 24px;
  line-height: 42px;
  letter-spacing: 2px;
  margin-top: 20px;
}

.my-roadmap .mr-control {
  position: absolute;
  bottom: 30px;
  right: 100px;
  display: block;
  width: 10%;
}

.mr-control button {
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 16px;
  width: 100%;
  padding: 7px 0;
  margin-top: 30px;
  border-radius: 4px;
  font-weight: 600;
  color: #565252;
  border: 0;
  cursor: pointer;
  background-color: rgba(107, 158, 218, 0.3);
}

.mr-control button.mr-show {
  color: #37373b;
  font-weight: 700;
  background-color: rgba(107, 158, 218, 0.6);
  box-shadow: 2px 2px 4px 2px rgba(0, 21, 61, 0.1);
}

.mr-control button:hover {
  color: #37373b;
  font-weight: 700;
  background-color: rgba(107, 158, 218, 0.6);
  box-shadow: 2px 2px 4px 2px rgba(0, 21, 61, 0.1);
}

/* skills */
.skills {
  position: relative;
  display: block;
  background-color: #e9f7ff;
  padding: 100px 0;
  text-align: center;
}

.skills h2 {
  position: relative;
  display: inline-block;
  font-size: 60px;
  line-height: 60px;
  padding: 8px 0;
  margin-bottom: 60px;
  color: rgb(78, 88, 98);
  z-index: 1;
}

.skills h2::before {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  height: 20px;
  background-color: rgba(171, 204, 249, 0.6);
  z-index: -1;
}

.skill-list {
  position: relative;
  display: block;
  width: 100%;
  padding: 0 120px;
  font-size: 0;
}

.skill-list>li {
  position: relative;
  display: inline-block;
  margin-right: 12%;
  width: 16%;
  margin-bottom: 120px;
}

.skill-list>li:nth-child(4n) {
  margin-right: 0;
}

.skill-list>li>a {
  position: absolute;
  display: block;
}

.skill01>a {
  height: 100%;
  width: 100%;
  background: url("../images/sklist01.png") no-repeat center 50px;
  background-size: 45px;
}

.skill02>a {
  height: 100%;
  width: 100%;
  background: url("../images/sklist02.png") no-repeat center 50px;
  background-size: 45px;
}

.skill03>a {
  height: 100%;
  width: 100%;
  background: url("../images/sklist03.png") no-repeat center 50px;
  background-size: 60px;
}

.skill04>a {
  height: 100%;
  width: 100%;
  background: url("../images/sklist04.png") no-repeat center 50px;
  background-size: 45px;
}

.skill05>a {
  height: 100%;
  width: 100%;
  background: url("../images/sklist05.png") no-repeat center 50px;
  background-size: 50px;
}

.skill06>a {
  height: 100%;
  width: 100%;
  background: url("../images/sklist06.png") no-repeat center 50px;
  background-size: 50px;
}

.skill07>a {
  height: 100%;
  width: 100%;
  background: url("../images/sklist07.png") no-repeat center 50px;
  background-size: 50px;
}

.skill08>a {
  height: 100%;
  width: 100%;
  background: url("../images/sklist08.png") no-repeat center 50px;
  background-size: 55px;
}

.skill09>a {
  height: 100%;
  width: 100%;
  background: url("../images/sklist09.png") no-repeat center 50px;
  background-size: 50px;
}

.skill10>a {
  height: 100%;
  width: 100%;
  background: url("../images/sklist10.png") no-repeat center 50px;
  background-size: 50px;
}

.skill-list>li>a::before {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 70%;
  border-radius: 50%;
  z-index: 99;
}

.skill-list>li>a::after {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 105%;
  height: 105%;
  border-radius: 50%;
  z-index: 9;
}

.skill-list>li:nth-child(1)>a::before {
  box-shadow: inset 2px 2px 6px rgba(224, 116, 33, 0.7);
}

.skill-list>li:nth-child(1)>a::after {
  box-shadow: 1px 1px 4px rgba(224, 116, 33, 0.7);
}


.skill-list>li:nth-child(2)>a::before {
  box-shadow: inset 2px 2px 6px rgba(29,140,221, 0.7);
}

.skill-list>li:nth-child(2)>a::after {
  box-shadow: 1px 1px 4px rgba(29,140,221, 0.7);
}


.skill-list>li:nth-child(3)>a::before {
  box-shadow: inset 2px 2px 6px rgba(210,101,154, 0.7);
}

.skill-list>li:nth-child(3)>a::after {
  box-shadow: 1px 1px 4px rgba(210,101,154, 0.7);
}

.skill-list>li:nth-child(4)>a::before {
  box-shadow: inset 2px 2px 6px rgba(184, 159, 59, 0.7);
}

.skill-list>li:nth-child(4)>a::after {
  box-shadow: 1px 1px 4px rgba(184, 159, 59, 0.7);
}



.skill-list>li:nth-child(5)>a::before {
  box-shadow: inset 2px 2px 6px rgba(5, 92, 185, 0.7);
}

.skill-list>li:nth-child(5)>a::after {
  box-shadow: 1px 1px 4px rgba(5, 92, 185, 0.7);
}
.skill-list>li:nth-child(6)>a::before {
  box-shadow: inset 2px 2px 6px rgba(72, 186, 135, 0.7);
}

.skill-list>li:nth-child(6)>a::after {
  box-shadow: 1px 1px 4px rgba(72, 186, 135, 0.7);
}

.skill-list>li:nth-child(7)>a::before {
  box-shadow: inset 2px 2px 6px rgba(51,51,51, 0.7);
}

.skill-list>li:nth-child(7)>a::after {
  box-shadow: 1px 1px 4px rgba(51,51,51, 0.7);
}

.skill-list>li:nth-child(8)>a::before {
  box-shadow: inset 2px 2px 6px rgba(126, 0, 247, 0.7);
}

.skill-list>li:nth-child(8)>a::after {
  box-shadow: 1px 1px 4px rgba(126, 0, 247, 0.7);
}
.skill-list>li:nth-child(10)>a::before {
  box-shadow: inset 2px 2px 6px rgba(68, 252, 229, 0.7);
}

.skill-list>li:nth-child(10)>a::after {
  box-shadow: 1px 1px 4px rgba(68, 252, 229, 0.7);
}

.skill-list>li:nth-child(11)>a::before {
  box-shadow: inset 2px 2px 6px rgba(71, 61, 210, 0.7);
}

.skill-list>li:nth-child(11)>a::after {
  box-shadow: 1px 1px 4px rgba(71, 61, 210, 0.7);
}







.skill-list>li>a>span {
  position: absolute;
  top: 110px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.skilldesc {
  position: absolute;
  display: block;
  float: left;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px 10px 10px 15px;
  border-radius: 10px;
  white-space: nowrap;
  color: rgb(233, 233, 233);
  border: 5px solid rgba(0, 0, 0, 0.2);
  z-index: 9999;
  text-align: left;
}

.skilldesc-active {
  position: fixed;
  visibility: visible;
}

.skill-list>li>a>ul>li {
  display: block;
  font-size: 12px;
  line-height: 18px;
  padding-left: 15px;
  color: #fff;
}

.progressbar-text {
  padding-top: 20px !important;
  font-size: 40px;
  z-index: 9;
  cursor: not-allowed;
}

/* portfolio */
.portfolio {
  position: relative;
  display: block;
  height: 640px;
  margin-top: 120px;
}

.portfolio .inner {
  width: 100%;
  height: 100%;
}

.port-left {
  position: relative;
  display: block;
  float: left;
  width: 1080px;
  height: 100%;
}

.portlist-sw {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.portlist-sw .swiper-slide {
  position: relative;
  display: block;
  width: 100%;
  height: 625px;
  padding: 14px 18px 13px 18px;
}

.portlist-sw .swiper-slide::before {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: url("../images/mu-blue.png") no-repeat center;
  background-size: contain;
}

.portlist-sw .swiper-slide::after {
  content: "";
  position: absolute;
  display: block;
  top: 29px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 10%;
  background: url("../images/bg-up.png") no-repeat center;
  background-size: contain;
  z-index: 1;
}

.portlist-sw .swiper-slide>a {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 77%;
  height: 96%;
  border-radius: 38px;
  cursor: grab;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: black;
}

.portlist-sw .swiper-slide>a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 100%;
  height: 160%;
  background-color: rgba(120, 120, 120, 0.5);
  z-index: 2;
  transition: all 0.2s;
}

.portlist-sw .swiper-slide>a:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 100%;
  height: 160%;
  background-color: transparent;
  z-index: 2;
}

.portlist-sw .swiper-slide>a>img {
  position: relative;
  display: block;
  width: 100%;
  height: 160%;
}

.portlist-sw .swiper-slide>div.control-bar {
  position: absolute;
  display: block;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
  width: 72%;
  height: 80px;
  border-radius: 24px;
  background-color: rgba(59, 69, 73, 0.4);
  transition: all 0.8s;
}

.portlist-sw .swiper-slide>div.control-bar:hover {
  background-color: rgba(119, 119, 119, 0.2);
}

.portlist-sw .swiper-slide>div.control-bar>.controlButtons {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 80px;
}

.control-bar>.controlButtons>a {
  position: relative;
  display: block;
  width: 56px;
  height: 56px;
  border-radius: 7px;
  border: 2px solid rgb(81, 89, 102);
  cursor: pointer;
}

a.showBt01 {
  background-color: rgba(151, 217, 255, 0.7);
}

a.showBt02 {
  background-color: rgba(151, 217, 255, 0.7);
}

a.showBt03 {
  background-color: rgba(151, 217, 255, 0.7);
}

.control-bar>.controlButtons>a>span {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 100%;
  height: 100%;
  font-size: 10px;
  line-height: 10px;
  padding-top: 38px;
  text-align: center;
  letter-spacing: 0px;
}

.control-bar>.controlButtons>a.showBt01>span::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 30px;
  height: 30px;
  background: url("../images/mywork.png") no-repeat center;
  background-size: contain;
}

.control-bar>.controlButtons>a.showBt02>span::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 30px;
  height: 30px;
  background: url("../images/git.png") no-repeat center center;
  background-size: contain;
}

.control-bar>.controlButtons>a.showBt03>span::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 30px;
  height: 30px;
  background: url("../images/original.png") no-repeat center center;
  background-size: contain;
}

.control-bar>.controlButtons>a:hover {
  background-color: rgba(98, 197, 255, 0.7);
}

.portlist-sw .swiper-slide>div.control-bar-vue {
  position: absolute;
  display: block;
  bottom: 18%;
  left: 50%;
  transform: translateX(-50%);
  width: 72%;
  height: 80px;
  border-radius: 24px;
  background-color: rgba(59, 69, 73, 0.4);
  transition: all 0.8s;
}

.portlist-sw .swiper-slide>div.control-bar:hover {
  background-color: rgba(119, 119, 119, 0.2);
}

.portlist-sw .swiper-slide>div.control-bar-vue>.controlButtons {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 80px;
}

.control-bar-vue>.controlButtons>a {
  position: relative;
  display: block;
  width: 56px;
  height: 56px;
  border-radius: 7px;
  border: 2px solid rgb(81, 89, 102);
  cursor: pointer;
}

.control-bar-vue a.showBt01 {
  background-color: rgba(0, 193, 128, 0.7);
}

.control-bar-vue a.showBt02 {
  background-color: rgba(0, 193, 128, 0.7);
}

.control-bar-vue a.showBt03 {
  background-color: rgba(0, 193, 128, 0.7);
}

.control-bar-vue>.controlButtons>a>span {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 100%;
  height: 100%;
  font-size: 10px;
  line-height: 10px;
  padding-top: 38px;
  text-align: center;
  letter-spacing: 0px;
}

.control-bar-vue>.controlButtons>a.showBt01>span::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 30px;
  height: 30px;
  background: url("../images/mywork.png") no-repeat center;
  background-size: contain;
}

.control-bar-vue>.controlButtons>a.showBt02>span::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 30px;
  height: 30px;
  background: url("../images/git.png") no-repeat center center;
  background-size: contain;
}

.control-bar-vue>.controlButtons>a.showBt03>span::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 30px;
  height: 30px;
  background: url("../images/original.png") no-repeat center center;
  background-size: contain;
}

.control-bar-vue>.controlButtons>a:hover {
  background-color: rgba(0, 150, 100, 0.7);
}

.swiper-container-3d .swiper-slide-shadow-left {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 77%;
  height: 96%;
}

.swiper-container-3d .swiper-slide-shadow-right {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 77%;
  height: 96%;
}

.port-right {
  position: relative;
  display: block;
  float: left;
  width: 320px;
  height: 100%;
}

.port-right h2 {
  position: relative;
  display: block;
  width: 100%;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -2px;
  z-index: 1;
}

.port-right h2::before {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 60%;
  height: 20px;
  background-color: rgba(171, 204, 249, 0.6);
  z-index: -1;
}

.portsummary {
  margin-top: 10px;
  position: relative;
  display: block;
  overflow-x: hidden;
}

.st-desc-sw {
  position: relative;
  left: -320px;
  display: block;
  width: 960px;
  height: 510px;
  border-top: 1px solid rgb(187, 187, 187);
  border-bottom: 1px solid rgb(187, 187, 187);
}

.st-desc-sw::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 100%;
  background-color: #fff;
  z-index: 9;
}

.st-desc-sw::after {
  content: "";
  position: absolute;
  top: 0;
  left: 310px;
  width: 10px;
  height: 100%;
  background-color: #fff;
  z-index: 9;
}

.st-desc-sw .swiper-slide {
  font-size: 32px;
  line-height: 32px;
  padding: 20px 10px;
}

.portsummary .st-desc-sw .swiper-slide>span {
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 16px;
  color: #797979;
  font-weight: 300;
}

.portsummary .st-desc-sw .swiper-slide h3 {
  position: relative;
  display: block;
  font-size: 32px;
  line-height: 32px;
  font-weight: 700;
  color: #000;
  padding: 10px 0;
  text-align: center;
}

.portsummary .st-desc-sw .swiper-slide p {
  position: relative;
  display: block;
  font-size: 20px;
  line-height: 20px;
  text-align: right;
}

.portsummary .st-desc-sw .swiper-slide .overview {
  position: relative;
  display: block;
  width: 100%;
  font-size: 20px;
  line-height: 20px;
}

.portsummary .st-desc-sw .swiper-slide .overview .period,
.portsummary .st-desc-sw .swiper-slide .overview .publishing {
  position: relative;
  display: block;
  padding-top: 7px;
}

.portsummary .st-desc-sw .swiper-slide .overview .period p,
.portsummary .st-desc-sw .swiper-slide .overview .publishing p {
  position: relative;
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
}

.portsummary .st-desc-sw .swiper-slide .overview .period span,
.portsummary .st-desc-sw .swiper-slide .overview .publishing span {
  position: relative;
  display: inline-block;
  font-size: 20px;
  line-height: 24px;
  padding-left: 20px;
}

.portsummary .st-desc-sw .swiper-slide .overview .publishing {
  position: relative;
  display: block;
  padding-top: 7px;
}

.portsummary .st-desc-sw .swiper-slide .overview .used,
.portsummary .st-desc-sw .swiper-slide .overview .used02 {
  position: relative;
  display: block;
  padding-top: 7px;
}

.portsummary .st-desc-sw .swiper-slide .overview .used>p,
.portsummary .st-desc-sw .swiper-slide .overview .used02>p {
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
}

.portsummary .st-desc-sw .swiper-slide .overview .used ul {
  position: relative;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  width: 100%;
  height: 100%;
}

.portsummary .st-desc-sw .swiper-slide .overview .used02 ul {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  width: 100%;
  height: 100%;
}

.portsummary .st-desc-sw .swiper-slide .overview .used ul li,
.portsummary .st-desc-sw .swiper-slide .overview .used02 ul li {
  position: relative;
  display: block;
  width: 60px;
  height: 85px;
}

li.usedS01 {
  background: url("../images/skill01.png") no-repeat center;
  background-size: contain;
}

li.usedS02 {
  background: url("../images/skill02.png") no-repeat center;
  background-size: contain;
}

li.usedS03 {
  background: url("../images/skill03.png") no-repeat center;
  background-size: contain;
}

li.usedS04 {
  background: url("../images/skill04.png") no-repeat center;
  background-size: contain;
}

.portsummary .st-desc-sw .swiper-slide .overview .memo {
  position: relative;
  display: block;
  padding-top: 7px;
}

.portsummary .st-desc-sw .swiper-slide .overview .memo>p {
  position: relative;
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
}

.portsummary .st-desc-sw .swiper-slide .overview .memo>span {
  position: relative;
  display: block;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 2px;
  padding-left: 12px;
}

.portsummary .ptsum-left {
  position: absolute;
  bottom: 20px;
  left: 40%;
  transform: translateX(-50%);
  display: block;
  width: 30px;
  height: 30px;
  background: url("../images/left-rounded-arrow.png") no-repeat center;
  background-size: contain;
  z-index: 9;
  cursor: pointer;
  border: 0;
}

.portsummary .ptsum-right {
  position: absolute;
  bottom: 20px;
  left: 60%;
  transform: translateX(-50%) rotate(180deg);
  display: block;
  width: 30px;
  height: 30px;
  background: url("../images/left-rounded-arrow.png") no-repeat center;
  background-size: contain;
  z-index: 9;
  cursor: pointer;
  border: 0;
}

.portcontrol {
  position: relative;
  display: block;
  padding: 10px 0;
}

.portcontrol .st-port-pgnt {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.portcontrol .st-port-pgnt .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 50%;
  background: rgb(81, 89, 101);
  opacity: 0.25;
  transition: all 0.5s;
}

.portcontrol .st-port-pgnt .swiper-pagination-bullet-active {
  width: 40px;
  height: 20px;
  display: inline-block;
  border-radius: 10px;
  background: rgb(81, 89, 101);
  opacity: 1;
}

/* life */
.life {
  position: relative;
  display: block;
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: #e9f7ff;
}

.life .inner .life-top {
  position: relative;
  display: block;
  text-align: center;
}

.life .inner .life-top h2 {
  position: relative;
  display: inline-block;
  font-size: 60px;
  line-height: 64px;
  letter-spacing: 0px;
  white-space: nowrap;
  z-index: 1;
}

.life .inner .life-top h2::before {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 20px;
  background-color: rgba(171, 204, 249, 0.6);
  z-index: -1;
}

.life-bottom {
  position: relative;
  display: flex;
  justify-content: space-around;
  padding: 60px 0 40px 0;
  font-size: 0;
  height: 100%;
  width: 100%;
}

.life-bottom .life-content {
  position: relative;
  display: inline-block;
  height: 600px;
  width: 400px;
  background-color: #ffffff;
  z-index: 9;

}

.life-bottom .life-content .lfct-top {
  position: relative;
  display: block;
  width: 100%;
  height: 200px;
  background: #e9f7ff;
}

.lfct-top.music-top .lfct-pic {
  position: absolute;
  top: 0;
  left: 0;

  display: inline-block;
  width: 50%;
  height: 200px;
  transition: all 1s;
}

.lfct-top.photo-top .lfct-pic {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 50%;
  height: 200px;
  background: url("../images/lifepic01-1.png") no-repeat center;
  transition: all 1s;
}



.lfct-top.photo-top .lfct-pic:hover {
  background: url("../images/lifepic01-2.png") no-repeat center;
}

.lfct-top.music-top img{
  position: relative;
  display: block;
  width: 400px;
  height: 400px;
  animation: rotate_image 8s linear infinite;
  transform-origin: 50% 50%;
}


.life-bottom .life-content .lfct-top .lfct-title {
  position: absolute;
  top: 0;
  left: 50%;
  display: inline-block;
  width: 50%;
  height: 200px;
  text-align: center;
  font-size: 20px;
  line-height: 32px;
  font-weight: 700;
  letter-spacing: 0px;
  padding-top: 20px;
  background-color: #ace1ff;
}

.life-bottom .life-content .title-button {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  display: block;
  border: 2px solid #37373b;
  border-radius: 50px;

  padding: 4px;

  font-size: 16px;
  line-height: 8px;
  color: transparent;
  white-space: nowrap;
  letter-spacing: -9px;

  transition: all 0.1s;
  z-index: 2;
}

.life-bottom .life-content .title-button:hover {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  border: 2px solid #37373b;
  border-radius: 50px;

  cursor: pointer;

  z-index: 2;
}

.life-bottom .life-content .title-button.wide {
  display: block;
  width: 164px;
  font-size: 14px;
  line-height: 24px;
  color: rgb(237, 237, 237);
  letter-spacing: 0.5px;
  padding: 10px;

  background: rgba(62, 62, 62, 0.8) url("../images/melody.png") no-repeat center;
  background-size: contain;

  border-radius: 25px;
  border: 2px solid #37373b;

  transition: all 0.3s;
  z-index: 3;
}

.music-top .title-button {
  background: #bdbdbd url("../images/face.png") no-repeat center;
  background-size: 30px 30px;
}

.music-top .title-button:hover {
  background: #838383 url("../images/headp.png") no-repeat center;
  background-size: 30px 30px;
}

.photo-top .title-button {
  background: #bdbdbd url("../images/mark.png") no-repeat center;
  background-size: 20px 20px;
}

.photo-top .title-button:hover {
  background: #838383 url("../images/pola-C.png") no-repeat center;
  background-size: 30px 30px;
}

.life-content .lfct-bottom {
  position: relative;
  display: block;
  width: 100%;
  height: 400px;
}

.life-content .lfct-bottom>span {
  position: absolute;
  display: block;
}

.lfct-bottom .pic01 {
  top: 0px;
  left: 0px;
  width: 50%;
  height: 200px;
  transition: all 0.5s;
}

.lfct-bottom .pic02 {
  top: 0;
  right: 0px;
  width: 50%;
  height: 200px;
  transition: all 0.5s;
}

.lfct-bottom .pic03 {
  bottom: 0;
  left: 0;
  width: 50%;
  height: 200px;
  transition: all 0.5s;
}

.lfct-bottom .pic04 {
  bottom: 0;
  right: 0;
  width: 50%;
  height: 200px;
  transition: all 0.5s;
}

.lfct-bottom.music-box .pic01 {
  background: url("../images/album01.jpg") no-repeat center;
  background-size: 100%;
  transition: none;
}

.lfct-bottom.music-box .pic01 img {
  position: relative;
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  opacity: 0;
  z-index: 3;
}

.lfct-bottom.music-box .pic01:hover {
  width: 400px;
  height: 400px;
  background: #ffd7e9;
  z-index: 4;
}

.lfct-bottom.music-box .pic01:hover img {
  width: 400px;
  height: 400px;
  opacity: 1;
  border-radius: 50%;
  animation: rotate_image 8s linear infinite;
  transform-origin: 50% 50%;
  z-index: 5;
}

.lfct-bottom.music-box .pic02 {
  background: #000 url("../images/album02.png") no-repeat center;
  background-size: 100%;
  transition: none;
}

.lfct-bottom.music-box .pic02 img {
  position: absolute;
  right: 0;
  top: 0%;
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  opacity: 0;
  z-index: 3;
}

.lfct-bottom.music-box .pic02:hover {
  width: 400px;
  height: 400px;
  background: #fff64c;
  z-index: 4;
}

.lfct-bottom.music-box .pic02:hover img {
  width: 400px;
  height: 400px;
  opacity: 1;
  border-radius: 50%;
  animation: rotate_image 8s linear infinite;
  transform-origin: 50% 50%;
  z-index: 5;
}

.lfct-bottom.music-box .pic03 {
  background: url("../images/album03.jpg") no-repeat left;
  background-size: 100%;
  transition: none;
}

.lfct-bottom.music-box .pic03 img {
  position: absolute;
  left: 0;
  bottom: 0%;
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  opacity: 0;
  z-index: 3;
}

.lfct-bottom.music-box .pic03:hover {
  width: 400px;
  height: 400px;
  background: #DEFAFF;
  z-index: 4;
}

.lfct-bottom.music-box .pic03:hover img {
  width: 400px;
  height: 400px;
  opacity: 1;
  border-radius: 50%;
  animation: rotate_image 8s linear infinite;
  transform-origin: 50% 50%;
  z-index: 5;
}


.lfct-bottom.music-box .pic04 {
  background: url("../images/album04.png") no-repeat left;
  background-size: 100%;
  transition: none;
}

.lfct-bottom.music-box .pic04 img {
  position: absolute;
  right: 0;
  bottom: 0%;
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  opacity: 0;
  z-index: 3;
}

.lfct-bottom.music-box .pic04:hover {
  background: #592a3f;
  width: 400px;
  height: 400px;
  z-index: 4;
}

.lfct-bottom.music-box .pic04:hover img {
  width: 400px;
  height: 400px;
  opacity: 1;
  border-radius: 50%;
  animation: rotate_image 8s linear infinite;
  transform-origin: 50% 50%;
  z-index: 5;
}

@keyframes rotate_image {
  100% {
    transform: rotate(360deg);
  }
}


/* .lfct-bottom.music-box .pic02:hover {
  background: #fff url("../images/singerlogo.png") no-repeat center;
  background-size: contain;
  z-index: 5;
}

.lfct-bottom.music-box .pic02:hover img:nth-child(1) {
  z-index: 2;
  opacity: 1;
  transform: translate(-200px, -200px);
}

.lfct-bottom.music-box .pic02:hover img:nth-child(2) {
  z-index: 2;
  opacity: 1;
  transform: translate(-200px, 0);
}

.lfct-bottom.music-box .pic02:hover img:nth-child(3) {
  z-index: 2;
  opacity: 1;
  transform: translate(-200px, 200px);
} */


.lfct-bottom.photo-box .pic01 {
  background: url("../images/lifepic02-1.png") no-repeat center;
}

.lfct-bottom.photo-box .pic02 {
  background: url("../images/lifepic03-1.png") no-repeat center;
}

.lfct-bottom.photo-box .pic03 {
  background: url("../images/lifepic05-1.png") no-repeat center;
}

.lfct-bottom.photo-box .pic04 {
  background: url("../images/lifepic04-1.png") no-repeat center;
}

.lfct-bottom.photo-box .pic01:hover {
  width: 60%;
  background: url("../images/lifepic02-2.png") no-repeat center;
  z-index: 10;
}

.lfct-bottom.photo-box .pic02:hover {
  width: 60%;
  background: url("../images/lifepic03-2.png") no-repeat center;
  z-index: 10;
}

.lfct-bottom.photo-box .pic03:hover {
  width: 60%;
  background: url("../images/lifepic05-2.png") no-repeat center;
  z-index: 10;
}

.lfct-bottom.photo-box .pic04:hover {
  width: 60%;
  background: url("../images/lifepic04-2.png") no-repeat center;
  z-index: 10;
}

.life-bottom .life-content .photo-box .pic01::before {
  content: "";
  position: absolute;
  top: 0;
  left: 10px;
  display: block;
  width: 2px;
  height: 0px;
  background-color: rgb(255, 255, 255);
  transition: all 0.5s;
}

.life-bottom .life-content .photo-box .pic01::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0px;
  display: block;
  width: 0px;
  height: 2px;
  background-color: rgb(255, 255, 255);
  transition: all 0.5s;
}

.life-bottom .life-content .photo-box .pic01:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 10px;
  display: block;
  width: 2px;
  height: 120px;
  background-color: rgb(255, 255, 255);
}

.life-bottom .life-content .photo-box .pic01:hover::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0px;
  display: block;
  width: 120px;
  height: 2px;

  background-color: rgb(255, 255, 255);
  transition: all 0.5s;
}

.life-bottom .life-content .photo-box .pic02::before {
  content: "";
  position: absolute;
  top: 0;
  right: 10px;
  display: block;
  width: 2px;
  height: 0px;
  background-color: rgb(255, 255, 255);
  transition: all 0.5s;
}

.life-bottom .life-content .photo-box .pic02::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 0;
  display: block;
  width: 0px;
  height: 2px;
  background-color: rgb(255, 255, 255);
  transition: all 0.5s;
}

.life-bottom .life-content .photo-box .pic02:hover::before {
  content: "";
  position: absolute;
  top: 0;
  right: 10px;
  display: block;
  width: 2px;
  height: 120px;
  background-color: rgb(255, 255, 255);
}

.life-bottom .life-content .photo-box .pic02:hover::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 0;
  display: block;
  width: 120px;
  height: 2px;
  background-color: rgb(255, 255, 255);
  transition: all 0.5s;
}

.life-bottom .life-content .photo-box .pic03::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 0;
  display: block;
  width: 0px;
  height: 2px;
  background-color: rgb(255, 255, 255);
  transition: all 0.5s;
}

.life-bottom .life-content .photo-box .pic03::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 10px;
  display: block;
  width: 2px;
  height: 0px;
  background-color: rgb(255, 255, 255);
  transition: all 0.5s;
}

.life-bottom .life-content .photo-box .pic03:hover::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 0;
  display: block;
  width: 120px;
  height: 2px;
  background-color: rgb(255, 255, 255);
}

.life-bottom .life-content .photo-box .pic03:hover::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 10px;
  display: block;
  width: 2px;
  height: 120px;
  background-color: rgb(255, 255, 255);
  transition: all 0.5s;
}

.life-bottom .life-content .photo-box .pic04::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 10px;
  display: block;
  width: 2px;
  height: 0px;
  background-color: rgb(255, 255, 255);
  transition: all 0.5s;
}

.life-bottom .life-content .photo-box .pic04::after {
  content: "";
  position: absolute;
  bottom: 10px;
  right: 0;
  display: block;
  width: 0px;
  height: 2px;
  background-color: rgb(255, 255, 255);
  transition: all 0.5s;
}

.life-bottom .life-content .photo-box .pic04:hover::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 10px;
  display: block;
  width: 2px;
  height: 120px;
  background-color: rgb(255, 255, 255);
}

.life-bottom .life-content .photo-box .pic04:hover::after {
  content: "";
  position: absolute;
  bottom: 10px;
  right: 0;
  display: block;
  width: 120px;
  height: 2px;
  background-color: rgb(255, 255, 255);
  transition: all 0.5s;
}

/* footer */
.footer {
  position: relative;
  display: block;
  background-color: #fff;
  padding: 50px 0;
}

.footer .inner {
  position: relative;
  display: block;
  text-align: center;
}

.footer .inner h2 {
  position: relative;
  display: inline-block;
  font-size: 48px;
  line-height: 48px;
  margin-bottom: 60px;
  z-index: 1;
}

.footer .inner h2::before {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  height: 14px;
  background-color: rgba(171, 204, 249, 0.6);
  z-index: -1;
}

.footer .inner .social-box {
  position: relative;
  display: block;
  font-size: 0;
}

.social-box a {
  position: relative;
  display: inline-block;
  margin: 0 20px;
}

.mail {
  width: 50px;
  height: 50px;
  background: url("../images/git-off.png") no-repeat center;
  background-size: contain;
}

.mail:hover {
  background: url("../images/git-on.png");
  background-size: contain;
}

.kt {
  width: 50px;
  height: 50px;
  background: url("../images/mail-off.png") no-repeat center;
  background-size: contain;
}

.kt:hover {
  background: url("../images/mail-on.png");
  background-size: contain;
}

.git {
  width: 50px;
  height: 50px;
  background: url("../images/talk-off.png") no-repeat center;
  background-size: contain;
}

.git:hover {
  background: url("../images/talk-on.png");
  background-size: contain;
}

.footer .finish-comment {
  position: relative;
  display: block;
  padding-top: 20px;
}

.footer p {
  position: relative;
  display: block;
  text-align: center;
  font-size: 20px;
  line-height: 24px;
  color: #333;
}

.footer span {
  position: relative;
  display: block;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  color: #333;
}

/* gotop 기능*/
.gotop {
  position: fixed;
  display: block;
  bottom: 30px;
  right: 30px;
  width: 30px;
  height: 30px;
  border: 1px solid #333;
  border-radius: 3px;
  background: url("../images/gotop.png") no-repeat center;
  background-size: contain;
  cursor: pointer;
}